/**
  1px with 2x screen
 */
@mixin border-2x($color, $radius,$direction,$style) {
  border: none;
  position: relative;
  $border: 1px $style $color;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @if ($direction==all) {
      border: $border;
      border-radius: $radius;
    } @else {
      border-#{$direction}: $border
    }
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}

/**
  1px with 3x screen
 */
@mixin border-3x($color, $radius,$direction,$style) {
  border: none;
  position: relative;
  $border: 1px $style $color;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @if ($direction==all) {
      border: $border;
      border-radius: $radius;
    } @else {
      border-#{$direction}: $border
    }
    width: 300%;
    height: 300%;
    -webkit-transform: scale((1/3));
    transform: scale((1/3));
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}

/**
 * 1px边框实现，针对不同dpr下实现不同等级的缩放
 * @param $color 边框颜色
 * @param $radius 边框圆角 $direction为all时生效，其他不生效 default: 0px
 * @param $direction 边框设置方向: top bottom left right all,  default: all
 * @param $style 边框线型: solid dashed dotted default: solid(实线)
 */
@mixin onepx($color,$direction:all, $radius:0px,$style:solid) {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    @include border-2x($color, $radius, $direction, $style);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    @include border-3x($color, $radius, $direction, $style);
  }
}
